header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
    padding: 40px;
}

#reddit-logo {
    width: 200px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 25%;
    min-width: 250px;
}

li {
    text-transform: uppercase;
    list-style: none;
}