main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--reddit-soft-orange);
    padding: 40px 0;
}

.post-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

