footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--reddit-black);
    color: var(--reddit-white);
    padding: 10px 0;
    font-size: 0.8em;
    font-weight: lighter;
}