@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --reddit-red: hsl(357, 72%, 53%);
  --reddit-orange: hsl(14, 78%, 57%);
  --reddit-soft-orange: hsl(11, 73%, 97%);
  --reddit-black: hsl(0, 0%, 16%);
  --reddit-white: hsl(0, 0%, 100%);
  --standard-width: 1000px;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  color: var(--reddit-black);
  background: linear-gradient(100deg, rgba(231,97,58,1) 0%, rgba(221,48,56,1) 100%);
}

h1, h2, h3, h4, #subtitle {
  font-family: 'Quicksand', sans-serif;
}

h1{
  font-size: 3em;
}

h2 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.17em;
  margin: 30px 0 20px 0;
}

.subtitle {
  font-size: 0.7em;
  font-weight: bold;
}

.red-link {
  color: var(--reddit-red);
  font-weight: bold;
  font-size: 0.9em;
}

.standard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-basis: var(--standard-width);
  flex-grow: 0;
  flex-shrink: 1;
  margin: 0 10px;
}

